{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "airbnb-base",
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "no-console": 0
  }
}